.co{
    background-image: url(th.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}
.to{
    background-color: rgb(25, 15, 215);
    background: transparent;
    backdrop-filter: blur(30px);
    background: radial-gradient(circle, rgba(1, 0, 1, 0) 0%, rgb(223, 233, 160) 100%);
    width:60vw;
    height: 60vh;
    border-radius: 10px;
    text-align: left;
    
}