.bye{
    color: rgb(1, 154, 193);
    text-align: center;
    height: 100vh;
    weight:100vw;
   background-image: url('payment_drib.gif');
   background-repeat: no-repeat;
   background-position: center;
}
.j
{
    color: rgb(193, 81, 1);
      text-align: left;
      margin-left: 30px;
}
.h
{
    color: rgb(103, 48, 148);
    margin-left: 30px;
    text-align: left;
}
.g
{
    color: rgb(1, 12, 3);
    margin-left: 100px;
    text-align: left;

}
.c
{
    color: rgb(103, 48, 148);
    margin-left:30px;
    text-align: left;
}
.n
{
    color: rgb(1, 12, 3);
    margin-left: 100px;
    text-align: left;
 
}
.r
{
    color: rgb(103, 48, 148);
    margin-left:30px;
    text-align: left;
}
.z
{
    color: rgb(1, 12, 3);
    margin-left: 100px;
    text-align: left;
 
}
.kk{
    color: rgb(103, 48, 148);
    margin-left:30px;
    text-align: left;
}
.jj{
    color: rgb(1, 12, 3);
    margin-left: 100px;
    text-align: left;
}