/* Service.css */
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url(th.jpg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

.ser {
  backdrop-filter: blur(30px);
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: transparent;
  background: radial-gradient(circle, rgba(222,222,229,0) 0%, rgb(218, 225, 235) 100%);
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  left: 5px;
  font-size: 12px;
  color: #4c4eaf;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.remember-forgot label {
  font-size: 14px;
  color: #777;
}

.remember-forgot input {
  margin-right: 5px;
}

.btn {
  background-color: #4c59af;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ea3672;
}

/* Additional styles for the select element */
div.select-box {
  margin-bottom: 20px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

